Dear {{ patient_name }},

Welcome to Mindalano Specialist Hospital Foundation Inc.!

Please confirm your email address to activate your account. Your verification code is:

{{ code }}

Enter this code on the confirmation page to continue. It expires in {{ ttl_minutes }} minutes. If it expires, use the "Resend" button on the confirmation page to get a new one.

If you did not create this account, you can safely ignore this email.

---
Mindalano Specialist Hospital Foundation Inc.
This is an automated message. Please do not reply to this email.
