Dear {{ patient_name }},

Welcome to Mindalano Specialist Hospital Foundation Inc.!

Please confirm your email address to activate your account. Click the link below (or copy it into your browser):

{{ verify_url }}

This link is valid for 1 hour. Once confirmed, the page where you signed up will continue automatically to your account setup. If the link has expired, use the "Resend Email" button on the sign-up page to get a new one.

If you did not create this account, you can safely ignore this email.

---
Mindalano Specialist Hospital Foundation Inc.
This is an automated message. Please do not reply to this email.
